* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
  animation: fade 60s infinite alternate;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: #fff;
}

h1 {
  font-size: 30px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 25px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

p {
  display: inline;
  font-size: 25px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

small {
 display: inline;
 font-size: 15px;
}

.title-homepage {
  padding: 15px;
  position: fixed;
}

.title-homepage h1{
  margin-top: 15px;
}

.overview {
  padding: 15px;
  width: 100vw;
  color: #fff;
  border-top: 1px solid #fff;
}

.title {
  padding: 15px;
  height: 90px;
  border-bottom: 1px solid #fff;
}

.info {
  padding: 15px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-bottom: 90px;
}

.grid111 {
  padding: 7.5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.content {
  padding: 7.5px;
}

.background {
  margin-top: -15;
  z-index: 1000;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 120px);
  max-height: 100vw;
}

#boidwindow {
  filter: invert(100%);
}

#boidcontrols {
  display: none;
}
canvas {
width: 100vw;
height: auto;
}

@keyframes fade {
  0%   {background-color:: #000;}

  100% {background-color: #2E555C;}
	}

  /* ---------------------------- MOBILE ---------------------------- */

@media only screen and (max-width:620px) {
  /* For mobile phones: */

}
