* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: #fff;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

.content {
  z-index: 1000;
  position: relative;
  margin: 15px;
}

.background {
  margin-top: -15;
  position: fixed;
}

#boidwindow {
  filter: invert(100%);
}

#boidcontrols {
  display: none;
}
